<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>PC Repairs - <%= @title %></title>	
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />    
	<meta name="keywords" content=""></meta>
	<meta name="description" content=""></meta>
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="stylesheet" href="/css/screen.css" media="screen" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>
</head>
<body>

<div id="container">

	<div id="header">
		
		<h1><a href="/" title="click here to return to the homepage"><img src="images/pcrepairs_logo.jpg" alt="PC Repairs"></a></h1>
		
		<ul id="nav">
			<li<%= ' class="selected"' if @selected == 'about' %>><a href="/"><span>About Us</span></a></li>
			<li<%= ' class="selected"' if @selected == 'home' %>><a href="/home_services"><span>Home</span></a></li>
			<li<%= ' class="selected"' if @selected == 'business' %>><a href="/business_services"><span>Business</span></a></li>
			<li<%= ' class="selected"' if @selected == 'contact' %>><a href="/contact_us"><span>Contact</span></a></li>
		</ul>
		
	</div>

	<%= yield %>
	
	<div id="footer">
	
		<p>Copyright &copy; 2009 PC Repairs - All Rights Reserved. Thorpe House, Embsay Mill, Embsay, North Yorkshire, BD23 6QF.</p>
	
	</div>

</div>

</body>
</html>